{# templates/form/media_type.html.twig #}
{% block media_row %}
    {% set media=form.vars.value %}
    {% if media %}
        <a class="fa-solid fa-trash-can" href={{ path('deleteMedia', {'id' : media.id}) }}> <span class="sr-only">(current)</span></a>
        <img  src="/assets/{{ media.fileName }}" class="img-fluid card">
    {% else %}
    {{ form_widget(form) }}
    {{ form_help(form) }}

    {% endif %}
{% endblock %}