/*theme*/
:root{
    --primary:#40407a;
    --primary-light:#ababd3;
    --accent:#ffb142;
    --warning:#b33939;
    --success:#33d9b2;
    --font-family:roboto, sans-serif;
    --box-shadow:0 1px 2px 0 rgb(60 64 67 / 30%) , 0 1px 3px 1px rgb(60 64 67 /15%);
    --border-radius:3px;
    --color:#2c2c54;
    --color-dark:#40407a;
    --gray:#84817a;
    --gray-dark:#d1ccc0;
    --border-color:#cd6133;
}

body{
    font-family:var(--font-family);
    color:var(--color);
    margin-right:20px;
    padding-right:20px;
    margin-left:20px;
    padding-left:20px;
}

/*header*/
.header-logo{
    max-width: 180px;
}
@media all and (min-width: 780px) {

    .navbar-footer{
    display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
}
#flechebas {
    position: absolute;
    right: 2em;
}

/*footer*/
footer{
    border-top-style: solid;
    margin-right: 70px;
    margin-left: 70px;
}

footer ul li {
    display: inline-block;
    margin: 50px;
    align-items: center;

}

@media all and (max-width: 780px){
    .navbar-header{
    display: none;
    }
}

/*accueil*/

.fond {
    background: url(/assets/fond.jpg);
    width: 90%; /* Il occupe toute la largeur de l'écran */
    height: 600px; /* On met ici la même hauteur que le jumbotron */
    top: 0;
    left: 0;
    z-index: -1;
}

.jumbotron {
    margin-bottom: 0px;
    height: 100vh;
    background: transparent;
}

.jumbotron h1{
    font-weight: bold;
    font-size: 80px;
}
.fa-solid{
    display: flex;
    justify-content:right;
}

#contenu {
    width:100px;
}

@media all and (max-width: 780px){
    .fond {
        background: url(/assets/logo2.jpg);
        position: static;
        margin-left: 80px;
        width: 70%; /* Il occupe toute la largeur de l'écran */
        height: 380px; /* On met ici la même hauteur que le jumbotron */
        top: 0;
        left: 0;
        z-index: -1;
    }
    .jumbotron h1{
        font-size: 60px;
        text-align: center;
    }
}

@media all and (max-width: 780px){
    .card-deck {
        display: flex;
        flex-direction: column;
    }
}
.card-body a{
    font-weight: bold;
    background-color: transparent;
}

.card-body a btn{
    display: flex;
    justify-content: center;
}

.card-body img{
    width: 300px;
    height: 200px;
}


/*detail-trick*/

#fond_image_home img{
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.carousel-item {
    width:200px;
    height:200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

ul{
    list-style: none;
}


.row img{
    width:1300px;
}
.gallery-title{
    border-style: dashed;
    border-bottom: #0a0a0a;
}
.gallery-group {
    border-style: solid;
    border-bottom: #0a0a0a;
}
.fa-solid{
    display: inline-block;
}

@media all and (min-width: 780px){
    .btn-primary{
        display: none;
    }
}



@media all and (max-width: 780px){
    h1{
        color:var(--color-dark);
        font-family: var(--font-family);
        font-style: italic;
        font-size: 40px;
    }
}
h1,h2,h3,h4{
    color:var(--color-dark);
    font-family: var(--font-family);
    font-style: italic;
}
/*margin*/

.m-5{
    margin:5px;
}
.m-10{
    margin:10px;
}
.m-20{
    margin:20px;
}

/*padding*/

.p-5{
    padding:5px;
}
.p-10{
    padding:10px;
}
.p-20{
    padding:20px;
}

/*general*/

.content{

}

