{% extends "./base.html.twig" %}

{% block body %}
    <a class="fa-solid fa-arrow-down-long fa-2xl" id="flechebas" href="#loadMore" ></a>
    <div class="jumbotron ">
        <div class="container">
            <div class="fond" >
            </div>
            <h1>Snowtricks <br> le meilleur du snowboard!</h1>
        </div>
    </div>

    <div id="loadMore">
        {% include 'loadMore.html.twig' %}
    </div>
    <div id="loadMorebtn">
    <button type="button" onclick="loadMore()">load more</button>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let page = 1;
        function loadMore(){
            fetch('https://localhost:8000/moretricks?page='+page).then(function(data){
                return data.text();

            }).then(function (html){
                document.getElementById('loadMore').innerHTML+=html
                page++
            })
        }
    </script>
{% endblock %}
