<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,900&display=swap" rel="stylesheet">
    </head>

    <body class="d-flex flex-column">

        {{ include('partials/_header.html.twig')  }}

        <div class=" flex-fill d-flex flex-row-nowrap justify-content-center">
            <div class="content d-flex flex-row-nowrap flex-fill">

                <div class="app-content flex-fill">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {{ include('partials/_footer.html.twig')  }}


    </body>
</html>
