{% extends "./base.html.twig" %}
        {% block body %}
            <body class="bg-gradient-primary">
            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        {{  dump(error) }}
                                        <h1 class="h4 text-gray-900 mb-4">connexion</h1>
                                    </div>
                                    <form action ="{{ path('connexion') }}" method="post">
                                        <label for="email"> Email </label>
                                        <input type="text" id="email" name="_username" value="{{ username }}">
                                        <label for="password"> Mot de passe </label>
                                        <input type="password" id="password" name="_password" >
                                        <button>connexion</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </body>
        {% endblock %}