<h1>Activez votre compte</h1>
<p>Bonjour </p>
<p>Votre inscription sur le site snowtricks est à valider en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ url('activate', {'token':token}) }}">Lien</a></p>
<p>Ce lien expirera dans 24 heures</p>
